.icon-left {
	position: absolute;
	top:  10px;
	left: 10px;
}

.icon-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.winter i {
	color: deepskyblue;
}

.summer i {
	color: yellow;
}

.season-display,
.error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.winter {
	background-color: aliceblue;
}

.summer {
	background-color: orange;
}

.error-message {
	background-color: lightgray;
}